@use "sass:math";

.stars {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: transparent;
  z-index: 5;

  span {
    position: absolute;
    display: block;
    background: white;
    border-radius: 50%;
    opacity: 0.8;
    width: 2px;
    height: 2px;
    animation: twinkle 2s infinite ease-in-out;
  }

  .falling {
    width: 80px;
    background: linear-gradient(90deg, white, transparent);
    opacity: 0;
    transform: rotate(315deg);
    animation: fall 10s infinite linear;
  }
}

@keyframes twinkle {
  0%,
  100% {
    opacity: 0.8;
  }
  50% {
    opacity: 0.2;
  }
}

@keyframes fall {
  0%,
  100% {
    transform: translate(0, 0) rotate(315deg);
    opacity: 0;
  }
  5% {
    opacity: 1;
  }
  50% {
    transform: translate(-200px, 200px) rotate(315deg);
    opacity: 0;
  }
}

