@use "../../assets/styles/variables" as *;

.container {
  padding: 2rem 10vw;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-flow: row dense;
  column-gap: 1rem;
  align-items: center;
  z-index: 5;

  * {
    grid-column: 1 / -1;
  }

  .paragraph {
    border-left: $border-color 0.2rem solid;
    border-right: $border-color 0.2rem solid;
    border-radius: $border-radius;
    padding: 1rem;
    max-width: 70vw;
    justify-self: center;

    &:first-of-type {
      grid-column: 1 / 2;
      font-size: 2rem;
    }
  }

  .image {
    max-width: 75%;
    border-radius: $border-radius;
    justify-self: center;
    grid-column: 2 / 3;
  }
}

