@use "../../assets/styles/variables" as *;

.navbar {
  z-index: 1000;
  border: $border-color 0.2rem solid;
  border-radius: $border-radius;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
  position: fixed;
  left: 0.5rem;
  top: 50%;
  padding: 0.5rem;
  opacity: 0;
  pointer-events: none;
  transform: translate(-20%, -50%);
  transition:
    opacity 0.5s ease,
    transform 0.5s ease;

  img {
    width: 3rem;
    height: 3rem;
    margin: 1rem 0;
    cursor: pointer;
    transition: transform 0.3s ease;
    filter: invert(70%);
    margin: 0;

    &:hover {
      transform: scale(1.1);
      filter: invert(100%);
    }
  }
}

.navbar.show {
  opacity: 1;
  transform: translate(0, -50%);
  pointer-events: auto;
}

