@use "../../assets/styles/variables" as *;

.navbar {
  z-index: 1000;
  border: $border-color 0.2rem solid;
  border-radius: $border-radius;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  left: 0.5rem;
  top: 50%;
  padding: 0;
  opacity: 0;
  pointer-events: none;
  transform: translate(-20%, -50%);
  transition:
    opacity 0.5s ease,
    transform 0.5s ease;

  div {
    height: 3rem;
    padding: 0.25rem 0.5rem;
    background-color: #00000000;

    img {
      height: 100%;
      width: auto;
      aspect-ratio: 1/1;
      margin: 0;
      cursor: pointer;
      filter: invert(70%);
      transition:
        transform 0.3s ease,
        filter 0.3s ease;

      &:hover {
        transform: scale(1.1);
        filter: invert(100%);
      }
    }

    &.highlight {
      background-color: $border-color;
      transition: background-color 0.3s ease;

      img {
        transform: scale(1.1);
        filter: invert(100%);
      }
    }
  }
}

.navbar.show {
  opacity: 1;
  transform: translate(0, -50%);
  pointer-events: auto;
}

