@use "../../assets/styles/variables" as *;

.projects {
  z-index: 5;
  display: flex;
  flex-wrap: nowrap;
  gap: 5rem;
  overflow-x: hidden;
  padding: 2rem 10rem;

  .projectCard {
    flex: 0 0 auto;
    border: $border-color 0.2rem solid;
    border-radius: $border-radius;
    padding: 2rem;
    height: 25vh;
    width: 25vw;
    cursor: pointer;

    h3 {
      margin-top: 0;
      font-size: 1.5rem;
    }

    .language {
      display: inline-block;
      margin-top: 0.2rem;
      padding: 0.2rem 0.5rem;
      background-color: $primary-color;
      border-radius: $border-radius;
      font-size: 1rem;
      color: black;
      font-weight: bold;
    }
  }
}

