.folder {
  text-align: left;
  height: 20rem;
  padding-right: 2rem;

  p {
    font-family: "Lacke", sans-serif;
    font-weight: 500;
    line-height: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    writing-mode: sideways-lr;
    z-index: 1;
    position: relative;
    transform: translateX(150%);
    animation: slideIn 1s ease-in-out forwards;
    animation-delay: 2.5s;
  }
}

@keyframes slideIn {
  to {
    transform: translateX(0);
  }
}

