.greet {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;

  .centerpiece {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
  }

  .scrollArrow {
    position: absolute;
    bottom: 5rem;
    opacity: 0;
    animation: appear 2s forwards;
    animation-delay: 4s;
  }
}

@keyframes appear {
  to {
    opacity: 1;
  }
}

