$size: 3rem;
$speed: 5s;
$defaultColor: rgba(0, 0, 0, 0);
$peakopacity: rgba(255, 255, 255, 0.7);

.arrows {
  position: relative;
  width: $size;
  height: $size;
  transform: translate(-50%, -50%);
  &:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border-left: calc($size/3) solid $peakopacity;
    border-bottom: calc($size/3) solid $peakopacity;
    transform: translate(calc($size/3), calc($size * 4 / 3)) rotate(-45deg);
    animation: arrows $speed linear infinite;
  }
  &:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border-left: calc($size/3) solid $peakopacity;
    border-bottom: calc($size/3) solid $peakopacity;
    transform: translate(calc($size * 2 / 3), 0px) rotate(-45deg);
    animation: arrows $speed linear infinite calc($speed/-2);
  }
}

@keyframes arrows {
  0% {
    border-left: calc($size/3) solid $defaultColor;
    border-bottom: calc($size/3) solid $defaultColor;
    transform: translate(calc($size/-6), calc($size * 4 / -6)) rotate(-45deg);
  }
  10%,
  90% {
    border-left: calc($size/3) solid $defaultColor;
    border-bottom: calc($size/3) solid $defaultColor;
  }
  50% {
    border-left: calc($size/3) solid $peakopacity;
    border-bottom: calc($size/3) solid $peakopacity;
    transform: translate(calc($size/-6), 0px) rotate(-45deg);
  }
  100% {
    border-left: calc($size/3) solid $defaultColor;
    border-bottom: calc($size/3) solid $defaultColor;
    transform: translate(calc($size/-6), calc($size * 4 / 6)) rotate(-45deg);
  }
}

